<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <extensions>
      <add assembly="Gelf4NLog.Target"/>
    </extensions>

    <targets>
      <target name="console"
              xsi:type="Console"
              layout="${longdate}|${level:uppercase=true}|${logger}|${machinename}|${message}${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}"
      />
      <target name="gelf" 
              xsi:type="Gelf" 
              hostip="192.168.1.7" 
              hostport="12201" 
              Facility="console-runner"
      />
    </targets>

    <rules>
      <logger name="*" minlevel="Debug" writeTo="console" />
      <logger name="*" minlevel="Debug" writeTo="gelf" />
    </rules>
  </nlog>
</configuration>